/Project_0_ERC20/node_modules/*
/Project_1_Create_Your_Own_Private_Blockchain/node_modules/*
/Project_2_ERC721/node_modules/*
/Project_2_ERC721/app/node_modules/*
/Project_3_Tracking_Items_Through_SupplyChain/project_3/node_modules/*
/Project_4_FlightSurety/node_modules/*
/Project_5_Capstone_Real_Estate_Marketplace/Blockchain-Capstone/node_modules/*

